/* Add your global styles here */

body {
    background-color: grey;
    color: white;
    margin: 0;
    padding: 0;
}

.dashboard-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.weather-dashboard {
    width: 60%;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
}

.search-history {
    width: 35%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

.list-group-item {
    background-color: #ccc;
    color: #333;
    display: inline-block;
    margin: 5px;
    padding: 5px 10px;
    border-radius: 5px;
}